:root {
  --lg-container-width: 80%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  background-color: bisque;
}
section {
  padding: 6rem 0;
}

.faqs {
  background-color: var(--color-bg2);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.container {
  width: var(--lg-container-width);
  margin: 0 auto;
}

.question {
  background-color: aquamarine;
  padding: 2rem;
  margin-bottom: 1rem;
}

.question-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.question-icon {
  font-size: 1rem;
  border: 0;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.text-question {
  border-top: 1px solid black;
  padding-top: 1rem;
  display: none;
}

.minus-icon {
  display: none;
}

.show-text .text-question {
  display: block;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}
